<html>
<head>
  <title>Farmers' Market Ipsum</title>

  <link rel="stylesheet" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Playfair+Display|Raleway" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/jquery.stellar.js"></script>
  <script src="/js/app.js"></script>

</head>
<body>
  <div class='tomato'>
    <div class='title-box' data-stellar-ratio=".75">
      <h1>FARMERS' MARKET IPSUM</h1>
      <h3 class='title-description'>Free range text for your project.</h3>
    </div>
  </div>
  <div class='black-bar'>
    <h3>
      <a href="http://ryanhamill.com">ABOUT</a>
    </h3>
  </div>
  <div class='content-section'>
    <div id='request'>
      <h1>make some ipsum</h1>
      <h5>how many paragraphs?</h5>
      <form>
        <input type="number" id="form-number" min="1" max="5"><br>
      </form>
      <button id='gen-ipsum-btn'>ipsum please</button>
    </div>
    <div id='response'></div>
  </div>
  <footer>
    <div class='inner-footer'>
      <div class='column'>
        <h3>AUTHOR</h3>
        <div class='footer-column-text'>
          Ryan is a recent graduate of General Assembly's Full Stack Web Development Immersive in San Francisco. Prior to GA he was developing data infrustructure at Eventbrite and Clean Power Finance. View his
          <a href="http://ryanhamill.com">portfolio</a> or <a class='links' href="mailto:rhamill11@gmail.com" target="_top">contact</a> him about an application.
        </div>
      </div>
      <div class='column'>
        <h3>APP</h3>
        <div class='footer-column-text'>
          Recreating great precedent is an efficient way to master new skills. This theme is an interpretation from scratch of <a href="http://andersnoren.se">Anders Noren's</a> <a href="http://hipsum.com">Hipster Ipsum</a>. It was created using JavaScript, jQuery, CSS, HTML, Node and Express (no Bootstrap).
        </div>
      </div>
      <div class='column'>
        <h3>CREDITS</h3>
        <div class='footer-column-text'>
          Inspiration from
          <a href="http://hipsum.com">Hipster Ipsum</a>,
          <a href="http://andersnoren.se">Anders Noren</a> and
          <a href="http://uvfm.org/temescal-sunday/">The Temescal Farmers' Market</a>.
        </div>
      </div>
    </div>
    <div class='footer-bottom'>
      <p>Ryan Hamill 2017</p>
    </div>
  </footer>
</body>
</html>
