<html>
<head>
  <title>Farmers' Market Ipsum</title>

  <link rel="stylesheet" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Playfair+Display|Raleway" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/jquery.stellar.js"></script>
  <script src="/js/app.js"></script>

</head>
<body>
  <div class='tomato'>
    <div class='title-box' data-stellar-ratio=".75">
      <h1>FARMERS' MARKET IPSUM</h1>
      <h3 class='title-description'>Free range text for your project.</h3>
    </div>
  </div>
  <div class='black-bar'>
    <h3>
      <a href="http://ryanhamill.com">ABOUT</a>
    </h3>
  </div>
  <div class='content-section'>
    <div id='request'>
      <h1>make some ipsum</h1>
      <h5>how many paragraphs?</h5>
      <form>
        <input type="number" id="form-number" min="1" max="5"><br>
      </form>
      <button id='gen-ipsum-btn'>ipsum please</button>
    </div>
    <div id='response'></div>
  </div>
  <footer>
    <div class='inner-footer'>
      <div class='column'>
        <h3>APP</h3>
        <div class='footer-column-text'>
          Canned chard sweet sed fair trade fair trade rustic raw raw dolor organic eu whey fed vegan cook cured.
          <a href="#">ryanhamill.com</a>
        </div>
      </div>
      <div class='column'>
        <h3>STUFF</h3>
        <div class='footer-column-text'>
          Fair trade raw sit cage less cabbage dolor a. Grass fed pickled seasonal vegetarian dolor gluten free grain.
          <a href="#">website.com</a>
        </div>
      </div>
      <div class='column'>
        <h3>CREDITS</h3>
        <div class='footer-column-text'>
          Canned fermented ramps raw grain chutney sed garden local relish raw chutney.
          <a href="#">hipsum.com</a>
        </div>
      </div>
    </div>
    <div class='footer-bottom'>
      <p>Ryan Hamill 2017</p>
    </div>
  </footer>
</body>
</html>
