body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.tomato {
  background-image: url("http://i.imgur.com/nu9p0wl.jpg");
  height: 50%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.title-box {
  display: inline-block;
  background: #1d1d1d;
  text-align: center;
  width: 375px;
  height: 185px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -170px;
}

.title-box h1 {
  color: white;
  letter-spacing: 3px;
}

.title-description::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: rgba(255,255,255,0.1);
  margin: 20px auto;
}

.title-box h3 {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255, 255, .4);
}

.black-bar h3 {
  display: block;
  background: #1d1d1d;
  height: 67px;
  margin: 0;
  color: white;
}

.content-section {
  height: 450px;
}

footer {
  height: 350px;
  background: #1d1d1d;
}
