body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.tomato {
  background-image: url("http://i.imgur.com/nu9p0wl.jpg");
  height: 50%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.title-box {
  display: inline-block;
  background: #1d1d1d;
  text-align: center;
  width: 375px;
  height: 185px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -170px;
}

.title-box h1 {
  color: white;
  letter-spacing: 3px;
  transition: color 0.5s;
}

.title-description::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: rgba(255,255,255,0.1);
  margin: 20px auto;
}

.title-box h3 {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255, 255, .4);
}

.black-bar h3 {
  margin: 0;
}

.black-bar a {
  display: block;
  background: #1d1d1d;
  height: 50px;
  padding: 2em 0 0 10em;
  color: rgba(255, 255, 255, .4);
  font-size: 13px;
  letter-spacing: 1px;
  transition: color 0.5s;
  text-decoration: none;
}

.content-section {
  margin: 3em 8em;
  height: auto;
  min-height: 50%;
  overflow: auto;
}

#request {
  width: 30%;
  float: left;
}

#request h1 {
  margin-top: 0;
}

#response {
  margin-top: 1em;
  width: 70%;
  float: left;
  text-align: justify;
  height: auto;
}

button {
  background: #1d1d1d;
  color: white;
  border: none;
  font-size: 12px;
  padding: 12px 16px;
  border-radius: 3px;
  transition-duration: 0.4s;
  outline: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

footer {
  height: 350px;
  background: #1d1d1d;
  position: relative;
  bottom: 0px;
  width: 100%;
}


.title-box h1:hover {
  color: #1abc9c;
}

.black-bar a:hover {
  color: white;
}

button:hover {
  background: #1abc9c;
  cursor: pointer;
}


@media (max-width: 700px) {
  .content-section {
    margin: 3em 2em;
  }

  #request, #response {
    width: 100%;
  }
}
